---
import Social from "./Social.astro";
import "../styles/global.css";

const socials = [
  { platform: "github", username: "TeddyMuli" },
  { platform: "x", username: "mulited" },
  { platform: "instagram", username: "muli.wav" },
];
---

<footer>
  <div class="socials">
    {
      socials.map((social) => (
        <Social platform={social.platform} username={social.username} />
      ))
    }
  </div>
</footer>
