---
const platform = "github";
const username = "TeddyMuli";
---

<footer>
  <p>
    Learn more about my projects on 
    <a href={`https://www.${platform}.com/${username}`} rel="noopener noreferrer" target="_blank">
      {platform}
    </a>!
  </p>
</footer>
